name: ci 
on:
  push:
    branches:
      - master 
      - main
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python environment
        uses: actions/setup-python@v4
        with:
          python-version: 3.x

      - name: Cache dependencies
        uses: actions/cache@v3
        with:
          path: .cache
          key: ${{ github.ref }}

      - name: Install mkdocs and plugins
        run: |
          pip install mkdocs-material
          pip install mkdocs-git-revision-date-localized-plugin
          pip install chinese_slugify

      - name: Deploy to GitHub Pages
        run: mkdocs gh-deploy --force

      - name: Create CNAME file
        run: |
          echo "blog.ookamitai.com" > CNAME
      
      - name: Push CNAME file to gh-pages
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
          git checkout gh-pages
          git add CNAME
          git commit -m "Add CNAME file"
          git push origin gh-pages --force
